.about-header {
	padding: 3rem;
	background-image: linear-gradient(to right, rgba(darken($teal, 15%), 0.9) 0%, rgba(darken($teal, 15%), 0.45) 75%, transparent 100%), url("images/low-poly-geometric.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: 960px) {
		padding: 1rem;
	}
}

.content-header {
	.about-header & {
		max-width: 60rem;
		margin: 0 auto 1rem;
		color: $white;

		p {
			color: $white;
			margin: 0 0 2rem;
		}

		p:first-of-type {
			@supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
				&::first-letter {
					font-family: "Cormorant", serif;
					-webkit-initial-letter: 2;
					initial-letter: 2;
					color: $yellow;
					font-weight: 600;
					margin-right: 0.5rem;
				}
			}
		}
	}
}

.primary-heading {
	.about-header & {
		margin: 0;
		color: $white;
		line-height: 1;
		text-align: center;

		&::after {
			content: "";
			display: block;
			width: 275px;
			max-width: 100%;
			margin: 1rem auto 2rem;
			border-bottom: 3px dotted $yellow;
		}

		@media (max-width: 960px) {
			&::after {
				width: 125px;
				margin: 1rem auto;
			}
		}
	}
}

.inspiration {
	padding: 6rem 3rem 3rem;
	background-color: $lt-gray;

	@media (max-width: 960px) {
		padding: 3rem 1rem;
	}
}

.content_wrap {
	.inspiration & {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.inspiration_content {
	order: 2;
	width: 70%;

	p {
		font-size: 1rem;
		line-height: 1.65;
		margin: 0 0 1rem;
	}
}

.inspiration_sidebar {
	order: 1;
	width: 25%;

	p {
		font-size: 0.95rem;
		line-height: 1.55;
	}
}

@media (max-width: 960px) {
	.inspiration_content {
		order: 1;
		width: 100%;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: 3px dotted $yellow;
	}

	.inspiration_sidebar {
		order: 2;
		width: 100%;
	}
}

.tertiary-header {
	.inspiration & {
		font-family: "Lato", sans-serif;
		font-size: 1.1rem;
		font-weight: 400;
		font-style: normal;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		color: $navy;
		margin: 1rem 0;
	}
}

.image {
	.inspiration & {
		position: relative;
		aspect-ratio: 16 / 9;
		width: 100%;
		height: auto;
		margin: 0 0 2rem;
		z-index: 0;

		&::before {
			content: "";
			position: absolute;
			right: -1vw;
			bottom: -1vw;
			width: 20%;
			height: auto;
			aspect-ratio: 1 / 1;
			background-color: $yellow;
			z-index: -1;
		}

		&::after {
			content: "";
			position: absolute;
			top: -1.5vw;
			left: -1.5vw;
			width: 100%;
			height: 100%;
			border: 4px dotted $teal;
			z-index: -1;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.lawtubers {
	padding: 3rem;

	@media (max-width: 960px) {
		padding: 3rem 1rem;
	}
}

.heading-wrap {
	.lawtubers & {
		text-align: center;
	}
}

.wrap {
	.lawtubers & {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: stretch;
		max-width: 75rem;
		margin: 0 auto;
		gap: 2rem;
	}
}

.secondary-heading {
	.lawtubers & {
		.love-heart {
			display: inline-block;
			vertical-align: sub;
			width: 50px;
			height: 50px;
		}

		svg {
			fill: $red;
		}
	}
}

.tertiary-header {
	.lawtubers & {
		margin: 1.25rem 0 1rem;
		padding: 0 1.5rem;
	}
}

.lawtuber-item {
	.lawtubers & {
		width: calc((100% - 4rem) / 3);
		background-color: $white;
		border-bottom: 5px solid $mint;
		box-shadow: 0 2px 2px 0 rgba($color: $black, $alpha: 0.25);

		@media (max-width: 960px) {
			width: 100%;
		}

		p {
			font-size: 1rem;
			line-height: 1.65;
			padding: 0 1.5rem 1rem;
		}
	}
}

.image {
	.lawtubers & {
		position: relative;
		aspect-ratio: 4 / 3;
		width: 100%;
		height: auto;
		z-index: 0;

		&::before {
			content: "";
			position: absolute;
			top: -1.333vw;
			right: -1.333vw;
			width: 100%;
			height: 100%;
			border: 3px dotted $navy;
			z-index: -1;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
