.masonry-articles {
	padding: 3rem;
	transition: padding 300ms ease-in-out;

	@media (max-width: 768px) {
		padding: 1.5rem;
	}

	@media (max-width: 600px) {
		padding: 1rem;
	}
}

.primary-heading {
	.masonry-articles & {
		margin: 0 0 1rem;
		color: $navy;
		text-align: center;
		line-height: 1;

		&::after {
			content: "";
			display: block;
			width: 200px;
			max-width: 100%;
			margin: 1rem auto 2rem;
			border-bottom: 3px dotted $yellow;
		}
	}
}

.article-buttons {
	.masonry-articles & {
		text-align: center;
		margin: 0 0 2rem;

		.button {
			min-width: 160px;
			margin: 0;
			font-size: clamp(1rem, 2vw, 1.25rem);
		}

		.button.active {
			background-color: $navy;
			border: 3px solid $navy;
			color: $white;
		}

		@media (max-width: 960px) {
			.button {
				display: block;
				width: 100%;
				margin: 0.5rem 0;
				padding: 0.65rem;
			}
		}
	}
}

.masonry-wrap {
	.masonry-articles & {
		columns: 5 auto;
		gap: 3rem;
		transition: gap 300ms ease-in-out;

		@media (max-width: 1920px) {
			columns: 4 auto;
		}

		@media (max-width: 1440px) {
			columns: 3 auto;
		}

		@media (max-width: 1200px) {
			columns: 2 auto;
		}

		@media (max-width: 768px) {
			gap: 1.5rem;
		}

		@media (max-width: 600px) {
			columns: 1 auto;
		}
	}
}

.article-item {
	.masonry-articles & {
		padding-bottom: 3rem;
		break-inside: avoid;
		transition: padding 300ms ease-in-out;

		@media (max-width: 768px) {
			padding-bottom: 2rem;
		}

		@media (max-width: 600px) {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 1.25rem;
			margin-bottom: 1.25rem;
			border-bottom: 3px dotted $mint;

			&:last-of-type {
				border-bottom: none;
			}
		}
	}
}

.image {
	.masonry-articles & {
		margin: 0;
		overflow: hidden;

		img {
			transform: scale(1);
			filter: brightness(1);
			transition: all 300ms ease-in-out;
		}

		&:hover > img {
			transform: scale(1.1);
			filter: brightness(1.1);
		}

		@media (max-width: 600px) {
			position: relative;
			width: 200px;
			max-width: 100%;
			margin: 0 1rem 0 0;
			aspect-ratio: 3 / 3.5;

			img {
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.article-wrap {
	.masonry-articles & {
		padding: 1rem 0 0;
		line-height: 1;
		transition: padding 300ms ease-in-out;

		p {
			font-size: clamp(1rem, 1.25vw, 1.1rem);
			line-height: 1.65;
		}

		@media (max-width: 600px) {
			width: 100%; // i don't get why this needs to be 100% ??
			padding: 0;

			p {
				clip: rect(0 0 0 0);
				clip-path: inset(50%);
				height: 1px;
				overflow: hidden;
				position: absolute;
				white-space: nowrap;
				width: 1px;
			}
		}
	}
}

.article-category {
	.masonry-articles & {
		display: inline-block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		padding-bottom: 0.5rem;
		font-family: "Lato", sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 0.95rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: $green;
		border-bottom: 2px dotted $yellow;

		@media (max-width: 600px) {
			position: static;
			transform: translateX(0);
		}
	}
}

.secondary-heading {
	.masonry-articles & {
		margin: 1rem 0;
		font-size: clamp(1.25rem, 2vw, 1.75rem);
		line-height: 1.333;
		transition: margin 300ms ease-in-out;

		a {
			color: $navy;
			text-decoration-color: $navy;

			&:hover,
			&:active,
			&:focus {
				text-decoration-color: transparent;
			}
		}

		@media (max-width: 600px) {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 1rem 0 0;
		}
	}
}
