.comments {
	padding: 3rem 0;
}

ul {
	.comments & {
		margin: 0;
		padding: 0;
	}
}

.tertiary-header {
	.comments & {
		@include bold-section-heading;
	}
}

svg {
	.comment-count & {
		position: relative;
		display: block;
		width: 60px;
		height: auto;
		padding: 0.5rem;
		margin: 0 auto;
		fill: $mint;
		background-color: $white;
		z-index: 0;
	}
}

.svg-border {
	.comment-count & {
		position: relative;
		top: 30px;
		max-width: 65rem;
		margin: 0 auto;
		border-bottom: 3px dotted $gray;
		z-index: 0;
	}
}

.comment-item {
	.comments & {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;
		padding-bottom: 2.5rem;
		margin-bottom: 2.5rem;

		&:last-of-type {
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
}

.comment-icon {
	.comments & {
		svg {
			width: 100px;
		}
	}
}

.comment-icon {
	.comments & {
		width: 100px;
		height: 100px;
		margin-right: 2rem;
		background-color: $lt-gray;
		border-radius: 5px;

		svg {
			display: block;
			width: 100px;
			height: 100px;
			fill: $teal;
		}
	}
}

.user-name {
	.comments & {
		font-weight: 700;
	}
}

time {
	.comments & {
		display: block;
		margin-bottom: 1.5rem;
	}
}

.user-comment {
	.comments & {
		padding-left: 1.5rem;
		border-left: 5px solid $teal;
	}
}
