.featured-video_section {
	padding: 75px 0;

	@media (max-width: 768px) {
		padding: 25px 0;
	}
}

.heading-wrap {
	.featured-video_section & {
		text-align: center;
	}
}

.wrap {
	.featured-video_section & {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		padding: 0;
	}
}

.image {
	.featured-video_section & {
		position: relative;
		flex: 1 1 clamp(400px, 50vw, 600px);
		margin: 1rem 0;
		padding: 0 1rem;
		z-index: 0;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: -0.65rem;
			left: 0.35rem;
			width: calc(100% - 2rem);
			height: 100%;
			border: 2px solid $mint;
			z-index: -1;
		}

		img {
			box-shadow: 1px 1px 1px 0 rgba($color: $black, $alpha: 0.2);
		}
	}
}

.featured-content {
	.featured-video_section & {
		flex: 1 1 clamp(400px, 50vw, 600px);
		padding: 0 1rem;

		p {
			margin: 0 0 0.5rem;
		}
	}
}

.tertiary-heading {
	.featured-video_section & {
		display: inline-block;
		// line-height: 1;
		padding: 0 0 1rem;
		margin: 0 0 1rem;
		border-bottom: 3px dotted $mint;
		// margin: 0.5rem 0;
	}
}
