.contact {
	padding: 50px 10px 0;

	.wrap {
		max-width: 50rem;
		margin: 0 auto;
	}

	.secondary-heading {
		color: $teal;
	}
}

.form {
	input {
		width: 100%;
		margin: 0 0 1rem;
		padding: 1.5rem;
		border: 3px solid $teal;
	}

	textarea {
		width: 100%;
		padding: 1.5rem;
		border: 3px solid $teal;
	}

	@media (max-width: 960px) {
		input,
		textarea {
			padding: 1rem;
		}
	}
}
