.header {
	display: block;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1rem 0;
	background-image: linear-gradient(to right, lighten($navy, 10%), $navy);
	z-index: 1;

	@media (max-width: 960px) {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}
}

.skip-nav {
	.header & {
		position: fixed;
		top: 0;
		left: 50%;
		font-size: 0;
		background-color: $teal;
		transform: translateX(-50%);
		z-index: 1;

		a {
			display: block;
			color: $white;
		}

		&:focus-within {
			font-size: 1.25rem;

			a {
				padding: 0.5rem;
			}
		}
	}
}

.primary-heading {
	.header & {
		display: block;
		margin: 0;
		padding: 0 1rem;
		font-size: clamp(1rem, 10vw, 3rem);
		font-weight: 400;
		color: $white;
		white-space: nowrap;

		@media (min-width: 960px) {
			display: none;
		}

		a {
			color: $white;
			text-decoration: none;
		}
	}
}

.mobile-button {
	.header & {
		display: none;
		position: relative;
		padding: 0.333rem 1rem;
		border: none;
		background-color: transparent;
		cursor: pointer;
		z-index: 1;

		div {
			width: 32px;
			height: 2px;
			margin: 0.5rem 0;
			background-color: $white;
			transform-origin: center center;
			transform: rotateZ(0) translate(0, 0);
			transition: transform 350ms ease, width 200ms ease;
		}

		&:active > div,
		&.active > div {
			&:nth-of-type(1) {
				transform: rotateZ(45deg) translate(6.5px, 6px);
			}

			&:nth-of-type(2) {
				width: 0;
			}

			&:nth-of-type(3) {
				transform: rotateZ(-45deg) translate(8px, -8px);
			}
		}

		@media (max-width: 960px) {
			display: block;
		}
	}
}
