.three-card_hero {
	padding: 50px 0;
	overflow-x: auto;
	background-image: linear-gradient(to right, darken($teal, 15%), $teal);

	@media (max-width: 960px) {
		padding: 1rem 0;
	}
}

.primary-heading {
	.three-card_hero & {
		font-size: clamp(1.333rem, 5vw, 3rem);
		color: $white;
		text-align: center;
		margin-top: 0;
		text-shadow: 1px 2px 1px rgba($color: $black, $alpha: 0.75);
	}
}

.wrap {
	.three-card_hero & {
		max-width: none;
		width: clamp(65rem, 90vw, 75rem);
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: stretch;
	}
}

.hero-item {
	.three-card_hero & {
		width: 31.333%;
		background-color: $white;
		border-bottom: 5px solid $mint;
		box-shadow: 0 1px 1px 1px rgba($color: $black, $alpha: 0.1);
	}
}

.image {
	.three-card_hero & {
		position: relative;
		width: 100%;
		height: auto;
		margin: 0;
		aspect-ratio: 4/3;

		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.item-content {
	.three-card_hero & {
		padding: 1.5rem;
	}
}

.secondary-heading {
	.three-card_hero & {
		font-size: 1.5rem;
		line-height: 1.5;

		a {
			color: $navy;
			text-decoration: none;
			border-bottom: 2px solid $navy;
			transition: border-bottom 300ms ease-in-out;

			&:hover,
			&:active,
			&:focus {
				border-bottom: 2px solid transparent;
			}
		}
	}
}

.item-meta {
	.three-card_hero & {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: clamp(0.9rem, 1vw, 0.95rem);
		letter-spacing: 0.5px;

		a {
			color: $navy;
			text-decoration-color: $navy;

			&:hover,
			&:active,
			&:focus {
				text-decoration-color: transparent;
			}
		}

		svg {
			display: inline-block;
			vertical-align: text-bottom;
			width: 18px;
			height: 18px;
			fill: $mint;
			stroke: $mint;
		}
	}
}

.read-more-link {
	.three-card_hero & {
		margin-top: 2rem;

		a {
			position: relative;
			display: inline-block; // this element needs to use the box model for positioning to work correctly
			width: 100%;
			z-index: 0;
			transform: translateZ(0); // force new stacking context for iOS

			&::before {
				content: "";
				display: block;
				width: 100%;
				position: absolute;
				top: 50%;
				transform: translateY(50%);
				border-top: 1px solid $green;
				z-index: -1;
			}

			&:hover > svg,
			&:active > svg,
			&:focus > svg {
				background-color: $green;
				stroke: $white;
			}
		}

		svg {
			display: block;
			width: 48px;
			height: 48px;
			padding: 8px;
			margin: 0 auto;
			stroke: $green;
			border: 2px solid $green;
			border-radius: 50%;
			background-color: $white;
			transition: all 300ms ease-in-out;
		}
	}
}
