.three-content_section {
	padding: 50px 0;
}

.wrap {
	.three-content_section & {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.content-item {
	.three-content_section & {
		width: 30%;

		p {
			position: relative;
			padding-left: 1.25rem;
			line-height: 1.75;

			&::before {
				content: "";
				position: absolute;
				top: 0.5rem;
				left: 0;
				width: 5px;
				height: 125px;
				background: linear-gradient(to bottom, #1d506f 0%, #1d506f 25%, #44878c 25%, #44878c 50%, #89bfac 50%, #89bfac 75%, #d7cc8e 75%, #d7cc8e 100%);
			}
		}
	}
}

.tertiary-heading {
	.three-content_section & {
		border-bottom: 3px dotted $yellow;
		padding: 0 0 0.333rem;
		margin: 0 0 1rem;
	}
}
