.access-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.wrap {
	max-width: 75rem;
	margin: 0 auto;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
