/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.cormorant-<uniquifier> {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}
*/

.primary-heading {
	font-size: 4.5rem;
}

.secondary-heading {
	font-size: 3rem;
	line-height: 1.25;
	color: $navy;
	margin: 0 0 2rem;

	@media (max-width: 960px) {
		font-size: 2rem;
	}
}

.tertiary-heading {
	font-size: 2.25rem;
	color: $green;
	margin: 0 0 0.5rem;
}

p {
	margin: 0 0 0.5rem;
}

a {
	color: $links;
	text-decoration-thickness: 2px;
	text-decoration-color: $links;
	text-underline-offset: 5px;
	transition: text-decoration-color 300ms ease-in-out;

	&:hover,
	&:active,
	&:focus {
		text-decoration-color: transparent;
	}
}

/*
if I have 5 colors
change the color of the ::marker pseudo class on the li
and have it repeat every nth of type
*/

.list li:nth-of-type(1n) {
	&::marker {
		color: $teal;
	}
}

.list li:nth-of-type(2n) {
	&::marker {
		color: $mint;
	}
}

.list li:nth-of-type(3n) {
	&::marker {
		color: $yellow;
	}
}
