/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.cormorant-<uniquifier> {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}
*/

.content-header {
	max-width: 60rem;
	margin: 0 auto;

	p {
		line-height: 1.75;

		&:last-of-type {
			margin: 0 auto 2rem;
		}
	}
}

.primary-heading {
	font-size: clamp(2.5rem, 5vw, 4rem);
}

.secondary-heading {
	font-size: clamp(2rem, 4vw, 3rem);
	line-height: 1.25;
	color: $navy;
	margin: 0 0 clamp(1.5rem, 3vw, 2rem);
}

.secondary-heading {
	.heading-wrap & {
		&.dark {
			color: $white;
			text-align: center;
		}

		&::after {
			content: "";
			display: block;
			width: 150px;
			padding-bottom: 1rem;
			margin: 0 auto 3rem;
			border-bottom: 5px dotted $yellow;
		}
	}
}

.tertiary-heading {
	font-size: clamp(1.75rem, 3vw, 2.25rem);
	line-height: 1.25;
	color: $green;
	margin: 0 0 0.5rem;
}

@mixin bold-section-heading {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 0.85rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color: $dk-gray;
	margin-bottom: 1rem;
}

p {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: clamp(1rem, 2vw, 1.25rem);
	line-height: 2;
	letter-spacing: 0.5px;
	color: $dk-gray;
	margin: 0 0 1.25rem;

	&:last-of-type {
		margin: 0;
	}
}

a {
	color: $links;
	text-decoration-thickness: 2px;
	text-decoration-color: $links;
	text-underline-offset: 5px;
	transition: text-decoration-color 300ms ease-in-out;

	&:hover,
	&:active,
	&:focus {
		text-decoration-color: transparent;
	}
}

/*
if I have 5 colors
change the color of the ::marker pseudo class on the li
and have it repeat every nth of type
*/

.list li:nth-of-type(1n) {
	&::marker {
		color: $teal;
	}
}

.list li:nth-of-type(2n) {
	&::marker {
		color: $mint;
	}
}

.list li:nth-of-type(3n) {
	&::marker {
		color: $yellow;
	}
}
